@keyframes show {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.pluginFacepileConnectLast,
.pluginFacepileConnectConnected .pluginFacepileConnectFirst {
  display: inline-block !important;

  animation: show .4s;
}

.pluginFacepileConnectFirst,
.pluginFacepileConnectConnected .pluginFacepileConnectLast {
  display: none !important;
}

._2lqg {
  overflow-y: auto;

  border: 1px solid #e9ebee;
  border-top: 0;
  background: #f6f7f9;
  > div {
    position: relative;

    box-sizing: border-box;
    width: 100%;
    height: 100%;
  }
}

._h7n {
  position: relative;

  border-color: #e9ebee #dfe0e4 #d0d1d5;
  border-radius: 2px;
  background: #fff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, .12);
  ._h7o {
    position: absolute;
    right: 8px;

    margin: 2px 0;
  }
}

._2lqh {
  width: 100%;
}

._2p3a ._3x-2 {
  overflow: hidden;
}

._3o6i {
  margin-bottom: 10px;
}

._57i_ {
  line-height: 1.358;

  margin-bottom: 2px;

  color: #4b4f56;
  a {
    font-weight: bold;

    color: #1d2129;
  }
}

._57j2 ._57j3 li {
  margin-top: 2px;
  margin-right: 2px;
}

._1drm {
  position: relative;

  overflow: hidden;

  background: #fff;
  ._1drn {
    border: 1px solid #000;
  }
  ._1dro {
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    bottom: 40px;
    left: 0;
  }
}

._1b90 ._1dro {
  bottom: 0;
}

._2zfs {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background: linear-gradient(to bottom, rgba(0, 0, 0, .7) 0%, rgba(0, 0, 0, 0) 100%);
}

._1dro {
  ._1drp {
    font-size: 18px;
    font-weight: 500;
    line-height: 1.358;

    display: inline-block;
    overflow: hidden;

    margin-bottom: -5px;

    white-space: nowrap;
    text-overflow: ellipsis;

    color: #365899;
  }
  ._1drq {
    font-size: 12px;
    line-height: 1.358;

    overflow: hidden;

    white-space: nowrap;
    text-overflow: ellipsis;

    color: #1d2129;
  }
}

._1drm ._1z7u {
  position: absolute;
  z-index: 2;
  right: 0;
  bottom: 0;
  left: 0;

  height: 24px;
}

._4o5p {
  .pluginConnectButtonConnected,
  .pluginConnectButtonDisconnected {
    border: 1px solid rgba(0, 0, 0, .12);
    background-clip: padding-box;
  }
}

._4o5q button {
  border: 1px solid rgba(0, 0, 0, .12);
  background-clip: padding-box;
}

._1drm {
  &._1b90,
  &._1ds4 {
    border: 1px solid #e9ebee;
  }
  &._1ds3 {
    ._1drn {
      border: 2px solid #fff;
      box-shadow: 0 1px 6px rgba(0, 0, 0, .5);
    }
    ._1drp {
      color: #fff;
      text-shadow: 0 2px 4px rgba(0, 0, 0, .9);
    }
    ._1drq {
      color: #fff;
      text-shadow: 0 2px 4px rgba(0, 0, 0, .9);
      ._2tnv {
        color: #fff;
        text-shadow: 0 2px 4px rgba(0, 0, 0, .9);
      }
      ._4o5p {
        text-shadow: none;
      }
    }
  }
  &._1ds4 ._1z7u {
    padding-top: 7px;

    border-top: 1px solid #e9ebee;
    background: #f6f7f9;
  }
}

.pluginConnectButton a._opc,
form.async_saving a._opc {
  margin: 0;

  opacity: 1;
}

.pluginConnectButton a._opd {
  color: #90949c;
}

#bootloader_dhW5D {
  height: 42px;
}

.bootloader_dhW5D {
  display: block !important;
}
