.clearfix {
  clear: both;
}

.updated:not(.published) {
  display: none;
}

.blog {
  nav.main-nav {
    z-index: 999;
  }

  .blog-header {
    background-image: url(/blog/assets/img/headers/head-14.jpg);
    padding-top: 281px;
  }

  .blog-header-page {
    background-image: url(/blog/assets/img/headers/head-15.jpg);
  }

  .breadcrumb {
    font-size: .85em;
    border-bottom: 1px solid #e0e3e4;
    color: #8c999f;
    font-family: "Proxima Nova", proxima-nova, sans-serif !important;
    line-height: 1.42857143;
    margin-bottom: 20px;
    padding: 15px 0;

    i {
      margin: 0 5px;
    }

    a {
      color: #8c999f;
    }
  }

  #page {
    a {
      &:focus, &:hover {
        color: #1ea9f4;
        text-decoration: none;
      }
    }

    .entry-title {
      margin-bottom: 20px;
      line-height: .5em;

      a {
        color: black;
        font-size: 30px;
        line-height: 115%;
        font-weight: bold;
        display: block;

        &:hover {
          color: #1ea9f4;
          text-decoration: none;
        }
      }
    }

    .entry-meta {
      margin-bottom: 31px;
      color: #ccc;

      a {
        color: #ccc;
      }

      .sep {
        margin: 0 6px;
      }
    }

    .more-link {
      font-size: 14px;
      text-transform: uppercase;
      line-height: 22px;
      color: #1976d2;
    }

    .widget-title {
      color: #a3b3ba;
      font-size: 16px;
      font-weight: 600;
      margin: 35px 0 25px 0;
      letter-spacing: 1px;
      text-transform: uppercase;
    }

    .widget_search h4 {
      margin-top: 0;
      margin-bottom: 15px;
    }

    .widget_thebreakingnews_posts_widget h4 {
      margin-top: 0;
      margin-top: 25px;
    }

    #text-2.widget_text {
      margin-top: 25px;
    }

    .cat-item {
      border-bottom: 1px solid #e4e6e7;
      color: black;
      font-size: 16px;
      line-height: 40px;

      &:last-child {
        border-bottom: 0;
      }

      a {
        display: block;
        color: #000000;
        text-decoration: none;

        &:before {
          content: "\f105";
          font-family: FontAwesome;
          color: #b0b7bb;
          margin-right: 10px;
        }

        &:hover {
          color: #1ea9f4;

          &:before {
            color: #1ea9f4;
          }
        }
      }
    }

    .breadcrumb {
      a {
        color: #8c999f;
      }

      i {
        margin: 0 5px;
      }
    }

    .widget_categories ul {
      list-style: none;
      padding: 0;
      margin: 0;
    }

    #primary {
      border-right: 1px solid #e4e6e7;
      margin-bottom: 50px;
    }

    aside .posts-list {
      li {
        min-height: 40px;
        margin: 0 0 10px;
      }

      .alignleft {
        float: left;
      }

      h3 {
        margin: 0;

        a {
          margin-left: 53px;
          display: block;
          font-size: 16px;
          line-height: 20px;
        }
      }
    }

    #main {
      .hentry-box {
        article {
          margin-bottom: 26px;
          border-top: 1px solid #e4e6e7;
        }

        &.no-border article {
          border-top: 0;
        }
      }

      .page-header {
        padding: 0;
        margin: 0;
        border: 0;
        background: 0;
      }

      header.entry-header {
        padding: 0;
        background: none;
        position: relative;
      }

      .entry-title {
        margin-bottom: 5px;

        a {
          font-weight: 600 !important;

          &:hover {
            color: #1ea9f4;
            text-decoration: none;
          }
        }
      }

      .entry-meta {
        margin-bottom: 20px;
      }

      .post-thumb {
        overflow: hidden;
        margin-bottom: 24px;
      }

      .entry-summary {
        font-size: 16px;
        line-height: 22px;

        p {
          font-size: 16px;
          line-height: 22px;
          overflow: hidden;
        }
      }
    }
  }
}

/*--------------------------------------------------------------
10.8 Featured Content
--------------------------------------------------------------*/

#featured-content {
  border-bottom: 2px solid rgba(55, 55, 55, 0.03);
  margin-bottom: 60px;

  .featured-item-title {
    font-size: 1.714em;
    font-weight: bold;
    line-height: 1.12;
    margin-top: 15px;
  }

  .more-container {
    margin-top: 15px;
  }
}

#featured-slider {
  clear: both;
  display: none;
  margin-bottom: 30px;

  li {
    margin-bottom: 0;
  }

  .featured-image .thumb-link {
    display: block;
  }

  .featured-controls {
    display: none;
    padding-top: 20px;

    a:hover {
      color: inherit;
    }
  }

  .entry-summary:hover {
    cursor: move;
  }

  .slick-dots {
    bottom: -54px;
  }

  .owl-controls {
    .owl-page {
      span {
        background: #ffffff;
        border: 1px solid rgba(55, 55, 55, 0.1);
        height: 13px;
        margin: 0 7px;
        position: relative;
        width: 13px;
      }

      &.active span {
        border-width: 5px;
      }
    }

    &.clickable .owl-page:hover span {
      border-width: 5px;
    }
  }
}

/*--------------------------------------------------------------
18.0 Slider
--------------------------------------------------------------*/

.slick-slider {
  -khtml-user-select: none;
  -moz-box-sizing: border-box;
  -moz-user-select: none;
  -ms-touch-action: none;
  -ms-user-select: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  box-sizing: border-box;
  display: block;
  margin-bottom: 50px;
  position: relative;
  user-select: none;
}

.slick-list {
  display: block;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: relative;

  &:focus {
    outline: none;
  }
}

.slick-loading {
  .slick-list {
    background: #ffffff url("https://www.montway.com/blog/app/themes/child-blog/images/ajax-loader.gif") center center no-repeat;
  }

  .slick-track, .slick-slide {
    visibility: hidden;
  }
}

.slick-list.dragging {
  cursor: hand;
  cursor: pointer;
}

.slick-slider .slick-list, .slick-track {
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-slide {
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);

  img {
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.slick-track {
  display: block;
  left: 0;
  position: relative;
  top: 0;
  zoom: 1;
  opacity: 1 !important;

  &:before {
    content: "";
    display: table;
  }

  &:after {
    clear: both;
    content: "";
    display: table;
  }
}

.slick-slide {
  display: none;
  float: left;
  overflow: hidden;
  height: 100%;
  min-height: 1px;

  img {
    display: block;
  }

  &.slick-loading img {
    display: none;
  }

  &.dragging img {
    pointer-events: none;
  }
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-vertical .slick-slide {
  border: 1px solid transparent;
  display: block;
  height: auto;
}

.slick-dots {
  bottom: -55px;
  display: block;
  list-style: none;
  padding: 0;
  position: absolute;
  text-align: center;
  width: 100%;

  li {
    cursor: pointer;
    display: inline-block;
    margin: 0 5px;
    padding: 0;
    position: relative;

    button {
      background: transparent;
      border: 0;
      cursor: pointer;
      display: block;
      font-size: 0;
      line-height: 0;
      outline: none;

      &:hover {
        outline: none;

        before {
          border: 5px solid rgba(55, 55, 55, 0.2);
        }
      }

      &:focus {
        outline: none;
      }

      &:before {
        -moz-border-radius: 20px;
        -webkit-border-radius: 20px;
        background: #ffffff;
        border-radius: 20px;
        border: 1px solid rgba(55, 55, 55, 0.2);
        content: '';
        display: block;
        height: 13px;
        margin: 0 2px;
        width: 13px;
      }
    }

    &.slick-active button:before {
      border: 5px solid rgba(55, 55, 55, 0.2);
    }
  }
}

.slick-prev {
  cursor: pointer;
  left: 0;
  margin-top: -55px;
  position: absolute;
  top: 50%;

  &:before {
    background: #ffffff;
    content: "\f104";
    font-size: 3em;
    height: 50px;
    line-height: 50px;
    padding: 2px 10px 2px 0;
  }
}

.slick-next {
  cursor: pointer;
  margin-top: -55px;
  position: absolute;
  right: 0;
  top: 50%;

  &:before {
    background: #ffffff;
    content: "\f105";
    font-size: 3em;
    height: 50px;
    line-height: 50px;
    padding: 2px 0 2px 10px;
  }
}

.mc4wp-form input[type="email"] {
  float: left !important;
  width: 74% !important;
  border-right: 0 !important;
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

#mc4wp-form-1.mc4wp-form input[type="submit"] {
  border-left: 0 !important;
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
  color: #ffffff !important;
  background-color: #1ea9f4 !important;
  border-color: #1ea9f4;
}

.widget_search {
  label {
    display: block;
  }

  .search-field {
    width: 100%;
    height: 34px;
    margin: 0;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #555555;
    vertical-align: middle;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    background-image: none;
    text-shadow: none;

    &:focus {
      border-color: #428bca;
    }
  }

  .search-submit {
    display: none;
  }
}

.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

/*--------------------------------------------------------------
5.4 Social Menu
--------------------------------------------------------------*/

.widget-area {
  padding-bottom: 50px;
  padding-left: 15px;
}

.social-list {
  display: inline;
  margin: 0;
  padding: 0;

  ul {
    display: inline;
    margin-bottom: 0;
  }

  li {
    display: inline-block;
    margin-bottom: 0;
    margin-left: 1px;
    position: relative;
  }
}

.menu-items li a {
  &::before {
    border: 1px solid rgba(55, 55, 55, 0.2);
    content: '';
    display: inline-block;
    font-family: FontAwesome;
    height: 40px;
    line-height: 40px;
    text-align: center;
    width: 40px;
  }

  &[href*="facebook.com"]::before {
    content: '\f09a';
  }

  &[href*="twitter.com"]::before {
    content: '\f099';
  }

  &[href*="plus.google.com"]::before {
    content: '\f0d5';
  }

  &[href*="dribbble.com"]::before {
    content: '\f17d';
  }

  &[href*="pinterest.com"]::before {
    content: '\f0d2';
  }

  &[href*="github.com"]::before {
    content: '\f113';
  }

  &[href*="tumblr.com"]::before {
    content: '\f173';
  }

  &[href*="youtube.com"]::before {
    content: '\f16a';
  }

  &[href*="flickr.com"]::before {
    content: '\f16e';
  }

  &[href*="vimeo.com"]::before {
    content: '\f194';
  }

  &[href*="instagram.com"]::before {
    content: '\f16d';
  }

  &[href*="linkedin.com"]::before {
    content: '\f0e1';
  }

  &[href$="/feed/"]::before {
    content: '\f09e';
  }

  &[href*="behance.net"]::before {
    content: '\f1b4';
  }

  &[href*="vk.com"]::before {
    content: '\f189';
  }

  &[href*="soundcloud.com"]::before {
    content: '\f1be';
  }

  &[href*="reddit.com"]::before {
    content: '\f1a1';
  }

  &[href^="mailto:"]::before {
    content: '\f0e0';
  }

  &:hover::before {
    color: #ffffff;
  }

  &[href*="facebook.com"]:hover::before {
    background: #375E98;
  }

  &[href*="twitter.com"]:hover::before {
    background: #32CDFB;
  }

  &[href*="plus.google.com"]:hover::before {
    background: #B83B29;
  }

  &[href*="dribbble.com"]:hover::before {
    background: #EF5A90;
  }

  &[href*="pinterest.com"]:hover::before {
    background: #BD4C50;
  }

  &[href*="github.com"]:hover::before {
    background: #E6E6E6;
    color: #5E5F5F;
  }

  &[href*="tumblr.com"]:hover::before {
    background: #043052;
  }

  &[href*="youtube.com"]:hover::before {
    background: #CB291C;
  }

  &[href*="flickr.com"]:hover::before {
    background: #B1B6C6;
  }

  &[href*="vimeo.com"]:hover::before {
    background: #3395CA;
  }

  &[href*="instagram.com"]:hover::before {
    background: #44749C;
  }

  &[href*="linkedin.com"]:hover::before {
    background: #376CBD;
  }

  &[href$="/feed/"]:hover::before {
    background: #DCA24C;
  }

  &[href*="behance.net"]:hover::before {
    background: #225ABB;
  }

  &[href*="vk.com"]:hover::before {
    background: #355A85;
  }

  &[href*="soundcloud.com"]:hover::before {
    background: #FF6301;
  }

  &[href*="reddit.com"]:hover::before {
    background: #9CCAFE;
  }

  &[href^="mailto:"]:hover::before {
    background: rgba(0, 0, 0, 0.4);
  }
}

.widget {
  .single-comment {
    margin-bottom: 20px;
    padding-top: 10px;

    .author-name {
      font-size: 0.8em;
    }

    .avatar {
      float: left;
      margin-right: 13px;
      max-width: 40px;
    }

    .entry-title {
      font-size: 1em;
      font-weight: bold;
      margin: 5px 0 0;
    }
  }

  .single-author {
    padding-bottom: 3px;
    padding-top: 7px;
  }

  .posts-list {
    li {
      padding-bottom: 3px;
      padding-top: 7px;
    }

    .thumb-link.alignleft {
      float: left;
      margin-right: 13px;
      max-width: 40px;
    }

    .entry-title {
      font-size: 1em;
      font-weight: bold;
      margin: 0;
    }
  }

  .comment-content {
    border: 1px solid rgba(55, 55, 55, 0.2);
    margin-bottom: 14px;
    padding: 10px;
    position: relative;

    &:before {
      border-color: rgba(55, 55, 55, 0.2) transparent;
      border-style: solid;
      border-width: 8px 8px 0;
      bottom: -8px;
      content: "";
      display: block;
      left: 8px;
      position: absolute;
      width: 0;
    }

    &:after {
      border-color: #ffffff transparent;
      border-style: solid;
      border-width: 7px 7px 0;
      bottom: -7px;
      content: "";
      display: block;
      left: 9px;
      position: absolute;
      width: 0;
    }
  }

  .author-post-count {
    font-size: 0.8em;
  }

  .author-image .avatar {
    float: left;
    margin-right: 13px;
    max-width: 40px;
  }

  .author-name {
    font-weight: bold;
  }

  .social-list {
    float: none;
  }

  .menu-items {
    margin-left: -2px;

    li {
      color: #000000;
      display: block;
      margin: 0;
      padding: 0 0 2px 2px;

      a {
        color: #000000;
        display: block;

        &::before {
          border: 1px solid rgba(55, 55, 55, 0.2);
          width: 100%;
        }
      }
    }
  }

  .social-two-layout .menu-items li {
    float: left;
    width: 50%;
  }

  .social-three-layout .menu-items li {
    float: left;
    width: 33.3333333%;
  }

  .social-four-layout .menu-items li {
    float: left;
    width: 25%;
  }
}

.navigation.numeric-style {
  text-align: center;
  padding-bottom: 20px;
  margin-bottom: 20px;

  span {
    border: 1px solid #e4e6e7;
    border-radius: 3px;
    font-size: 20px;
    padding: 8px 14px;
    margin: 0 5px;
    color: #6e7c81;
  }

  a {
    border: 1px solid #e4e6e7;
    border-radius: 3px;
    font-size: 20px;
    padding: 8px 14px;
    margin: 0 5px;
    color: #6e7c81;
    text-decoration: none !important;

    &:hover {
      color: #1976d2;
      border-color: #1976d2;
      text-decoration: none !important;
    }
  }

  .current {
    opacity: .4;
  }
}

.entry-content {
  font-size: 18px;
  line-height: 32px;

  figure, img {
    max-width: 100% !important;
    height: auto !important;
  }

  p {
    font-size: 18px;
    line-height: 32px;
  }

  .alignleft {
    float: left;
    margin-right: 30px;
    margin-bottom: 10px;
  }

  .alignright {
    float: right;
    margin-left: 30px;
    margin-bottom: 10px;
  }

  .aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin: 40px auto 20px;
  }

  .wp-caption-text {
    color: #999;
    font-size: .8em;
    line-height: 1.2em;
    padding-top: 7px;
  }

  h2 {
    font-weight: bold;
    font-size: 32px;
    line-height: 50px;
    margin: 30px 0 0 0;
  }
}

/* share buttons */

footer {
  &.entry-footer {
    padding: 28px;
    border: 1px solid #dfe6e9;
    font-size: 16px;
    text-align: center;
    border-radius: 6px;
  }

  .share-buttons-title {
    text-transform: uppercase;
    color: #94a4ab;
    letter-spacing: 1px;
    display: block;
  }
}

/*--------------------------------------------------------------
14.0 Share Buttons
--------------------------------------------------------------*/

.page {
  .entry-header .share-section {
    margin-bottom: 30px;

    .share-buttons-title {
      display: none;
    }
  }

  .entry-footer .share-section {
    margin-bottom: 15px;
  }
}

.entry-content .share-section {
  display: none;

  .share-buttons-title {
    display: none;
  }
}

.single .hentry {
  .entry-meta .entry-meta-inner {
    margin-left: 0;
  }

  .post-thumb {
    display: none !important;
  }
}

.share-section {
  .share-buttons-title {
    display: block;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 15px;
  }

  &.custom-style {
    a {
      border-radius: 50%;
      border: 1px solid !important;
      color: #ffffff;
      display: inline-block;
      font-family: FontAwesome;
      font-weight: 900;
      height: 33px;
      line-height: 33px;
      margin-bottom: 3px;
      margin-right: 20px;
      padding: 0 0 0 32px;
      position: relative;
      text-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
      text-shadow: none;

      &:hover {
        color: #ffffff !important;
      }

      &:before {
        border-right: 1px solid rgba(255, 255, 255, 0.2);
        left: 0;
        position: absolute;
        text-align: center;
        width: 33px;
      }

      span {
        display: none;
      }
    }

    .facebook {
      background: transparent;
      border-color: #314d91;
      color: #314d91;

      &:before {
        background: transparent;
        content: "\f09a";
      }

      &:hover {
        background: #314d91;
        color: #ffffff;
      }
    }

    .twitter {
      background: transparent;
      border-color: #07beed;
      color: #07beed;

      &:before {
        background: transparent;
        content: "\f099";
      }

      &:hover {
        background: #07beed;
        color: #ffffff;
      }
    }

    .googleplus {
      background: transparent;
      border-color: #b83b29;
      color: #b83b29;

      &:before {
        background: transparent;
        content: "\f0d5";
      }

      &:hover {
        background: #b83b29;
        color: #ffffff;
      }
    }

    .linkedin {
      background: transparent;
      border-color: #0072b5;
      color: #0072b5;

      &:before {
        background: transparent;
        content: "\f0e1";
      }

      &:hover {
        background: #0072b5;
        color: #ffffff;
      }
    }

    .pinterest {
      background: transparent;
      border-color: #bc282d;
      color: #bc282d;

      &:before {
        background: transparent;
        content: "\f0d2";
      }

      &:hover {
        background: #bc282d;
        color: #ffffff;
      }
    }

    .email {
      background: transparent;
      border-color: #448765;
      color: #448765;

      &:before {
        background: transparent;
        content: "\f003";
      }

      &:hover {
        background: #448765;
        color: #ffffff;
      }
    }
  }
}

.hentry {
  .entry-content .share-section.custom-style {
    margin-bottom: 30px;

    a {
      border: none;
      font-size: 0.5em;
    }
  }

  .entry-meta .entry-comments {
    display: none;
  }

  .entry-category {
    display: none !important;
  }
}

header.entry-header .entry-meta .author-avatar {
  display: none;
}

.author-info {
  font-size: 18px;

  .author-name {
    margin: 0;

    a {
      font-size: 18px;
      line-height: 32px;
      font-weight: bold;
      text-transform: uppercase;
      color: #000000 !important;
    }
  }
}

/*--------------------------------------------------------------
10.6 Related Posts
--------------------------------------------------------------*/

.related-posts {
  border-top: 1px solid rgba(55, 55, 55, 0.1);
  padding-top: 30px;
  margin-top: 43px;

  .related-thumb {
    float: left;
    padding-right: 20px;
  }

  .subtitle {
    font-size: 0.8em;
    font-weight: bold;
    color: #a3b3ba;
    letter-spacing: 1px;
    text-transform: uppercase;
  }

  .related-item {
    margin-bottom: 30px;

    .entry-category {
      font-size: 0.5em;
      margin: 5px 0 10px;
    }

    .post-thumb {
      width: 96px;
      margin-top: 0;
      margin-bottom: 0;
    }

    .related-title {
      font-size: .8em;
      font-weight: bold;
      line-height: 1.2;
      margin: 0;
    }
  }

  .entry-category {
    display: none;
  }

  .subtitle {
    font-size: 0.8em;
    font-weight: bold;
    color: #a3b3ba;
    letter-spacing: 1px;
    text-transform: uppercase;
  }
}

.related-title a {
  color: black;
  font-size: 1.3em;
}

.site-main {
  .comment-navigation, .paging-navigation, .post-navigation {
    margin: 40px 0 30px;
  }
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

.post-navigation .nav-next {
  padding-left: 10px;
}

.comment-navigation .nav-next, .paging-navigation .nav-next {
  float: right;
  text-align: right;
  width: 50%;
}

.post-navigation {
  .nav-next {
    float: right;
    text-align: right;
    width: 50%;
  }

  .nav-previous {
    padding-right: 10px;
  }
}

.comment-navigation .nav-previous, .paging-navigation .nav-previous, .post-navigation .nav-previous {
  float: left;
  width: 50%;
}

.site-main .post-navigation .nav-title, .post-navigation .post-thumb {
  margin-bottom: 15px;
}

.nav-title.main-font a {
  color: black;
  text-transform: uppercase !important;
  letter-spacing: 1px;
  font-size: 14px;
  font-weight: bold;
}

.nav-links {
  .post-title {
    margin: 5px 0 0 0;
    line-height: 20px;
  }

  h3 a, h4 a {
    font-size: 18px;
    color: black;
    font-weight: bold;
  }

  .nav-previous .nav-title {
    margin-bottom: 10px;

    a {
      text-decoration: none !important;

      &:before {
        content: "\f104";
        font-family: FontAwesome;
        font-weight: bold;
        margin-right: 5px;
      }
    }
  }

  .nav-next .nav-title {
    margin-bottom: 10px;

    a {
      text-decoration: none !important;

      &:after {
        content: "\f105";
        font-family: FontAwesome;
        font-weight: bold;
        margin-left: 5px;
      }
    }
  }
}

.post-meta {
  margin-bottom: 31px;
  margin-top: 6px;
  color: #ccc;
  font-size: 12px;
  text-transform: uppercase;

  a {
    color: #ccc;
  }

  .sep {
    margin: 0 6px;
  }
}
